<h1>
  Add a new listing
</h1>


<hr>

<!-- Form listing start -->
<form action="/create_listing" method="post" enctype="multipart/form-data">
<!-- Form listing end -->

  <!-- Label and input for transaction_id start -->
  <div class="form-group">
    <label for="transaction_id">
      Transaction
    </label>

    <!-- Input for transaction_id start -->
    <input type="text" id="transaction_id" name="transaction_id" class="form-control">
    <!-- Input for transaction_id end -->
  </div>
  <!-- Label and input for transaction_id end -->

  <!-- Label and input for isbn start -->
  <div class="form-group">
    <label for="isbn">
      Isbn
    </label>

    <!-- Input for isbn start -->
    <input type="text" id="isbn" name="isbn" class="form-control">
    <!-- Input for isbn end -->
  </div>
  <!-- Label and input for isbn end -->

  <!-- Label and input for course start -->
  <div class="form-group">
    <label for="course">
      Course
    </label>

    <!-- Input for course start -->
    <input type="text" id="course" name="course" class="form-control">
    <!-- Input for course end -->
  </div>
  <!-- Label and input for course end -->

  <!-- Label and input for photo_url start -->
  <div class="form-group">
    <label for="photo_url">
      Photo url
    </label>

    <!-- Input for photo_url start -->
    <input type="file" id="photo_url" name="photo_url" class="form-control">
    <!-- Input for photo_url end -->
  </div>
  <!-- Label and input for photo_url end -->

  <!-- Label and input for price start -->
  <div class="form-group">
    <label for="price">
      Price
    </label>

    <!-- Input for price start -->
    <input type="text" id="price" name="price" class="form-control">
    <!-- Input for price end -->
  </div>
  <!-- Label and input for price end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for creator_id start -->
  <!-- Input for "creator_id" start -->
  <input type="hidden" name="creator_id" value="<%= current_user.id %>">
  <!-- Input for "creator_id" end -->
  <!-- Label and input for creator_id end -->

  <!-- Label and input for quarter start -->
  <div class="form-group">
    <label for="quarter">
      Quarter
    </label>

    <!-- Input for quarter start -->
    <input type="text" id="quarter" name="quarter" class="form-control">
    <!-- Input for quarter end -->
  </div>
  <!-- Label and input for quarter end -->

  <!-- Label and input for school_year start -->
  <div class="form-group">
    <label for="school_year">
      School year
    </label>

    <!-- Input for school_year start -->
    <input type="text" id="school_year" name="school_year" class="form-control">
    <!-- Input for school_year end -->
  </div>
  <!-- Label and input for school_year end -->

  <!-- Label and input for tittle start -->
  <div class="form-group">
    <label for="tittle">
      Tittle
    </label>

    <!-- Input for tittle start -->
    <input type="text" id="tittle" name="tittle" class="form-control">
    <!-- Input for tittle end -->
  </div>
  <!-- Label and input for tittle end -->

  <button class="btn btn-block btn-outline-secondary">
    Create listing
  </button>
</form>

<hr>

<a href="/listings">
  Go back
</a>
